.idea/*
dist/*
build/*
src/*/__pycache__/*
*log*
internal_data/*
venv/*
*.pyc
/logs/*
/notebooks/
/logs/
*.spec
*.ini
*.csv
/xmetadata.db
/MRICenterline/old/
/MRICenterline/testing/.pytest_cache/
/MRICenterline/testing/logs/
/build/
/dist/
/databases/
/docs/test_results/
*.db
/archive/
AlgorithmTests/*
AlgorithmTests/test.ipynb
*.npy
*.csv
*.sqlite
condaenv*.requirements.txt
*.db-journal
