.idea/*
dist/*
build/*
src/*/__pycache__/*
*log*
internal_data/*
venv/*
*.pyc
/notebooks/
**/logs/**
*.spec
*.ini
*.csv
/xmetadata.db
/MRICenterline/old/
/MRICenterline/testing/.pytest_cache/
/build/
/dist/
/databases/
/docs/test_results/
*.db
/archive/
*.sqlite
condaenv*.requirements.txt
*.db-journal
/models/
