.idea/*
dist/*
build/*
src/*/__pycache__/*
*log*
internal_data/*
venv/*
*.pyc
/logs/*
/notebooks/
/logs/
*.spec
*.ini
*.csv
/metadata.db
/MRICenterline/old/
/MRICenterline/testing/.pytest_cache/
/MRICenterline/testing/logs/
/build/
/dist/
/databases/
